
@{
    ViewBag.Title = "ak";
}


<div class="container">
    <div class="container">
        <div class="row">

            <div class="alert-success">
                Your Payment Successfully verified
            </div>

        </div>


    </div>




</div>