@model string
@{
    ViewBag.Title = "ActivateAccount";
}

<h2>ActivateAccount</h2>

<div class="container">
    <div class="container">
        <div class="row">

            <div class="alert-success">
                Your Email Address is @ViewBag.Email Successfully verified
            </div>

        </div>


    </div>




</div>